.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #b10000;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #ab9fc9;
}

.header-row {
    background: #7babdb;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}